* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

/*inizio menù*/
header {
    background-color:rgba(143, 230, 236, 0.699);
    display: flex;
    justify-content: center;
    height: 80px;
}

.row{
    width: 1000px;
    height: 40px;
    background-color: rgba(247, 185, 30, 0.959);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 3px dashed black;
}

.debug [class^='col'] {
	border: 3px dashed black;
	padding: 5px 30px;
}

nav {
    margin-top: 5PX;
}

/*inizio prima sezione: un elemento centrato*/

.section-1{
    background-color: rgb(11, 11, 128);
    display: flex;
    justify-content: center;
    height: 500px;

}

.box-1 {
    background-color: rgb(248, 143, 231);
    align-items: center;
    width: 800px ;
    height: 400px;
    margin-top: 50px;
    border: 3px dashed black;
}

/*inizio seconda sezione: due elementi affiancati*/

.section-2{
    background-color:white;
    display: flex;
    justify-content: center;
    height: 500px;
}

.box-2 {
    background-color: rgb(43, 116, 252);
    align-items: center;
    width: 700px ;
    height: 450px;
    margin-top: 50px;
    border: 3px dashed black;
}

.box-3 {
    background-color: rgb(240, 170, 179);
    align-items: center;
    width: 400px ;
    height: 450px;
    margin-top: 50px;
    border: 3px dashed black;
}

/*inizio terza sezione: due elementi affiancati*/
.section-3{
    background-color:rgb(182, 178, 178);
    display: flex;
    justify-content: center;
    height: 500px;
}

.box-4 {
    background-color: rgb(240, 170, 179);
    align-items: center;
    width: 400px ;
    height: 450px;
    margin-top: 50px;
    border: 3px dashed black;
}

.box-5 {
    background-color: rgb(43, 116, 252);
    align-items: center;
    width: 700px ;
    height: 450px;
    margin-top: 50px;
    border: 3px dashed black;
}